{% extends "base.html" %}

{% block content %}
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4" style="height: 80%">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Welcome to Wonder Full! 🔮</h1>
                <p class="lead mb-0">Ask for advice, opinions and feedback! What do people think...🤔</p>
                <p class="lead" style="margin-top: 2px">Can you help them too? No wonder about it!</p>
                {% if not current_user.is_authenticated: %}
                <p class="lead" style="margin-top: 2px"><em>Start out by Registering or Logging In.</em></p>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}