{% extends "base.html" %}

{% block content %}
<div style="margin-left: 10px; height: 80%">
    <div style="margin: 20px auto 20px auto" class="row">
        <h1 class="text-white" style="margin:0 auto 0 auto; text-align: center">{{ user.name }} Page</h1>
        {% if current_user.name != user.name %}  <!-- Users may not send a DM to themselves -->
        <a style="margin: 10px auto 0 auto; text-align: center; width: 50%" href="{{ url_for('send_dm', username=user.name) }}" >
            <input  type="button" class="btn-sm btn-primary" name="new-dm" value="Send DM">
        </a>
        {% endif %}
    </div>

    <div style="margin-top: 10px">
    <h4 class="text-white" style="margin: 40px auto 10px 20px">All Questions</h4>
    {% for question in user.questions: %}
        <a href="{{ url_for('show_question', q_id=question.id) }}">{{ question.title[:50] }}{% if question.title[50]: %}... {% endif %}</a><br>
    {% endfor %}
    </div>
</div>

{% endblock %}