<!-- 2 widgets: Search and Categories-->
<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>


    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a class="text-primary" href="#!">Career</a></li>
                        <li><a class="text-primary" href="#!">Relationship</a></li>
                        <li><a class="text-primary" href="#!">Fitness</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a class="text-primary" href="#!">Pictures</a></li>
                        <li><a class="text-primary" href="#!">Games</a></li>
                        <li><a class="text-primary" href="#!">More...</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional side widget
    <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
    </div>-->
</div>
